// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/link/link';
@import './_charts.scss';
@import 'node_modules/leaflet/dist/leaflet';

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway:wght@400;700&family=UnifrakturMaguntia&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

a {
  color: black;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.container {
  max-width: 740px;
  margin: 0 auto 0 auto;
}

.wide-cont {
  max-width: 1024px;
  margin: 0 auto 0 auto;
  position: relative;
}

section {
  margin-bottom: 25px;
  width: 100%;
  float: right;
  position: relative;
}

.leader {
  font-size: 1.2em;
}

.leader:first-child:first-letter {
  color: black;
  float: left;
  font-family: 'Libre Baskerville', serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 3px;
}

.hero {
  width: 100%;
  height: 60vh;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  background-color: white;
  padding: .4em 0 0 0;
  height: 40px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}

.title {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 1.3em;
  color: rgb(107, 105, 105);
}

.kay {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: .75em;
  color: black;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 3em;
}

h4 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 1em;
}

.byline {
  float: left;
  font-weight: 700;
}

.pubdate {
  float: left;
  margin-left: .25em;
}

#map {
  height: 500px;
  width: 100%;
}

#map path {
  fill: rgb(56, 31, 116);
  fill-opacity: .5;
  stroke-opacity: 0;
}

.spotify {
  width: 100%;
}

.card {
  margin-bottom: 30px;
  height:100%;
}

footer {
  position: relative;
  padding-top: 20px;
  margin-top: 50px;
  width: 100%;
  height:150px;
  bottom: 0;
  float: right;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: white;
}

.readmore {
  width: 100%;
  height: 40vh;
  margin-bottom: 25px;
}

.readmore img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topic {
  position: relative;
  transform: translate(0, -100%);
  float: left;
  width: 100%;
  padding: 10px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
}